doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Password Reset
  link(rel='stylesheet' href='/assets/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/style.css')
section.py-4.py-xl-5
  .container
    .row.mb-5
      .col-md-8.col-xl-6.text-center.mx-auto
        h2 Error 500
        p
          | Ops! An error has happened.