doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Password Reset
  link(rel='stylesheet' href='/assets/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/style.css')
section.py-4.py-xl-5
  .container
    .row.mb-5
      .col-md-8.col-xl-6.text-center.mx-auto
        h2 Reset password
        p
          | Your password has been sucessfully reset.
          | You can now go to the desktop application and try to login again.
          
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')