doctype html
head
    title Reset your password
    script(type='text/javascript').
        if (foo) bar(1 + 5)
body
    h1 Reset your password
    #container.col
        p Activate your account: #{APP_URL}auth/reset-password?email=#{email}&token=#{token}